.index {
  padding-top: 4rem;
  padding-bottom: 4rem;
  max-width: 1400px;
  display: flex;
  flex-direction: column;

  :global h1 {
    letter-spacing: 0.7rem;

    span.suffix {
      color: #999;
    }

    span.subtitle {
      font-size: 1rem;
      text-transform: none;
      letter-spacing: normal;
    }
  }
}

.h2 {
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
  color: gray;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.right {
  padding: 0 0 0 3rem;
}

.tagLink {
  display: inline-block;
  padding: 0.25rem 1rem;
  color: white;
  margin-right: 0.5rem;
  background-color: #ff73cf;
  cursor: pointer;
  border: 1px solid white;

  &:hover {
    border: 1px solid black;
  }
}
