.index {
  padding-top: 4rem;
  padding-bottom: 4rem;
  max-width: 1400px;

  :global h1 {
    letter-spacing: 0.7rem;

    span.suffix {
      color: #999;
    }

    span.subtitle {
      font-size: 1rem;
      text-transform: none;
      letter-spacing: normal;
    }
  }
}

.right {
  padding: 0 0 0 3rem;
}
