.p {
  font-size: 1rem;
  line-height: 1.6rem;
}

.link {
  text-decoration: underline;
}

.postTitle {
  font-size: 2rem;
}

.postHeading2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.postHeading3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.postHeading4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.aside {
  display: block;
  padding: 1rem 2rem;
  background-color: #f3f3f3;
  border-radius: 0 1rem 1rem 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  border-top: 1px solid pink;
  margin-top: 2rem;
}
