.p {
  font-size: 1rem;
  line-height: 1.6rem;
}

.link {
  text-decoration: underline;
}

.postTitle {
  font-size: 2rem;
}

.postHeading2,
.postHeading3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
