@import 'styles/variables';
@import 'styles/mixins';

// Main component.
.carousel {
  overflow: visible;
  margin-top: 3rem;

  // Inner container, contains all slides.
  :global .carousel-inner {
    overflow: visible;
  }

  // Individual slide items, includes captions.
  :global .carousel-item {
    display: block;
    width: 90%;
    margin-left: 5%;
    transition: opacity 200ms ease;
    border-radius: 50px;
    line-height: 0;
    overflow: visible;

    @include media-breakpoint-down(sm) {
      width: 100%;
      margin-left: 0;
    }

    &.active {
      transform: rotate(-10deg) translateX(1rem);
      z-index: 9;

      .carousel-caption {
        position: relative;
        top: 1rem;
        height: 12rem;
        display: block;
        opacity: 1;
        width: 100%;
        transform: rotate(10deg) translateX(-2rem);

        @include media-breakpoint-up(md) {
          top: 3rem;
          transform: rotate(10deg) translateX(-4rem);
        }
      }

      img {
        width: 100%;
        height: auto;
        opacity: 1;
      }
    }

    &.active + .carousel-item {
      transform: rotate(-5deg);
    }

    img {
      width: 100%;
      height: auto;
      transition: opacity 100ms ease;
      border-radius: 50px;
      opacity: 0.5;
    }

    .carousel-caption {
      line-height: 1.7rem;
      text-align: justify;
      transition: none;
      opacity: 0;
      // transform: rotate(10deg);
      right: 0;
      left: 0;

      h3,
      p {
        color: black;
      }

      @include media-breakpoint-down(sm) {
        top: 6rem;

        p {
          line-height: 1.5rem;
          text-align: left;
        }
      }
    }
  }

  :global .carousel-control-prev,
  :global .carousel-control-next {
    z-index: 9;
    background-color: black;
    border: 3px solid $pink;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    transition: opacity 200ms ease;
    opacity: 0.75;

    &:hover {
      opacity: 1;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  :global .carousel-control-prev {
    transform: translateX(-1rem) translateY(-5rem);
  }

  :global .carousel-control-next {
    transform: translateX(1rem) translateY(-5rem);
  }

  // Dot navigation indicators.
  :global .carousel-indicators {
    @include media-breakpoint-up(md) {
      display: none;
    }

    position: absolute;
    bottom: 1rem;
    z-index: 10;

    button {
      background-color: $gray;
      border: 2px solid $blue;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      margin: 0 1rem;
      transition: all 500ms ease;

      &.active {
        background-color: white;
        border-color: $pink;
      }
    }
  }
}
