@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,400;0,700;1,400;1,700&display=swap');
@import 'code/github-dark.min.css';
@import 'bootstrap/scss/bootstrap';
@import 'variables';
@import 'social';
@import 'blog';

* {
  box-sizing: border-box;
  font-family: 'Source Code Pro';
  line-height: 1.5rem;
}

html,
body {
  padding: 0;
  margin: 0;
}

strong {
  font-weight: bold;
}

a {
  color: $blue;
  text-decoration: underline;
}

.lightgray {
  color: gray;
}

h1 {
  text-transform: uppercase;
  font-size: 2rem;
}

.prose {
  h1 {
    font-size: 3rem;
    margin: 0 0 2rem 0;
  }
  h2 {
    margin: 3rem 0 2rem;
    text-transform: uppercase;
  }
  code {
    background-color: #eee;
    padding: 0.3rem 0.7rem;
  }
  pre code {
    background-color: #012;
    padding: 1rem;
  }
}

p,
.prose p {
  font-size: 1rem;
  line-height: 1.7rem;
  color: #333;
}

iframe.w-full.relative {
  max-width: 100%;
  margin: 1rem 0;
}
