* {
  box-sizing: border-box;
  font-family: 'JetBrains Mono';
}
@import 'variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: $blue;
  text-decoration: underline;
}

h1 {
  text-transform: uppercase;
  font-size: 2rem;
}

/**
 * Stop colors on IG SVG logo
 */
.ig-svg-a {
  stop-color: #fd5;
}
.ig-svg-b {
  stop-color: #ff543e;
}
.ig-svg-c {
  stop-color: #c837ab;
}
.ig-svg-d {
  stop-color: #3771c8;
}
.ig-svg-st0 {
  fill: url(#ig-svg-d);
}
.ig-svg-st1 {
  fill: url(#ig-svg-c);
}
.ig-svg-st2 {
  fill: url(#ig-svg-b);
}
.ig-svg-st3 {
  fill: url(#ig-svg-a2);
}
.ig-svg-st4 {
  fill: #ffffff;
}
