@import 'variables';

* {
  box-sizing: border-box;
  font-family: 'JetBrains Mono';
  line-height: 1.7rem;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: $blue;
  text-decoration: underline;
}

h1 {
  text-transform: uppercase;
  font-size: 2rem;
}

p {
  font-size: 1rem;
  line-height: 2rem;
  color: #333;
}

/**
 * Stop colors on IG SVG logo
 */
.ig-svg-a {
  stop-color: #fd5;
}
.ig-svg-b {
  stop-color: #ff543e;
}
.ig-svg-c {
  stop-color: #c837ab;
}
.ig-svg-d {
  stop-color: #3771c8;
}
.ig-svg-st0 {
  fill: url(#ig-svg-d);
}
.ig-svg-st1 {
  fill: url(#ig-svg-c);
}
.ig-svg-st2 {
  fill: url(#ig-svg-b);
}
.ig-svg-st3 {
  fill: url(#ig-svg-a2);
}
.ig-svg-st4 {
  fill: #ffffff;
}
